
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.heading{
    background-color: aquamarine;
    text-align: center;
    margin-bottom: 5px;

}

.btn{
    background-color: green;
    color:yellow;
    border-radius: 4%;
    height:50px;
    width:120px;
    box-shadow: inset;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}

.btn:hover{
    background-color: blue;
    color:white;

}